<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/">HOME PAGE</a>
    |
    <a href="/flights">ALL FLIGHTS</a>
    |
    <a href="/flights/new">ADD FLIGHT</a>
    <footer>
      <h3>More information coming soon...</h3>
      <h3>Information as of <%= time %></h3>
    </footer>
  </body>
</html>
